<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
		"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id="t" class="xmlBeanLifeCycle.Test" init-method="myInit" destroy-method="myDestroy">
<property name="username" value="system"/>
<property name="pwd" value="admin"/>
</bean>

</beans>