<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	
	<bean id="cfg" class="factoryInstanceMethod.CarFactory">
	<property name="carname" value="factoryInstanceMethod.Benz">
	</property></bean>
	<bean id="c" factory-bean="cfg" factory-method="getInstance"/>
</beans>